<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Driver Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='mainscript.js') }}"></script>

</head>

<body data-page-id="gesamtergebnis">
    <div class="container">
         <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown" id="tippDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="tippDropdownToggle">Tippabgabe</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="tippDropdownMenu">
                        <a href="/tippabgabe">Rennen</a>
                        <a href="/sprinttipps">Sprintrennen</a>
                    </div>
                </li>
                <li class="dropdown" id="ergDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="ergDropdownToggle">Tabelle</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="ergDropdownMenu">
                        <a href="/rennergebnis">Einzel-Rennen</a>
                        <a href="/gesamtergebnis">Gesamt</a>
                    </div>
                </li>

                <li><a href="/wmStand">WM Stand</a></li>
                <li><a href="/regeln">Regeln</a></li>
            </ul>
        </nav>

        <h1>Tabelle</h1>

        <div class="table-wrapper">
            <table id="gesamttabelle">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Punkte</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

        </div>


    </div>

</body>
</html>