<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Driver Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
</head>
<body data-page-id="home">


    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown" id="tippDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="tippDropdownToggle">Tippabgabe</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="tippDropdownMenu">
                        <a href="/tippabgabe">Rennen</a>
                        <a href="/sprinttipps">Sprintrennen</a>
                    </div>
                </li>
                <li class="dropdown" id="ergDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="ergDropdownToggle">Ergebnisse</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="ergDropdownMenu">
                        <a href="/rennergebnis">Rennergebnis</a>
                        <a href="/gesamtergebnis">Gesamtergebnis</a>
                    </div>
                </li>

                <li><a href="/wmStand">WM Stand</a></li>
            </ul>
        </nav>


        <h1>Formel 1 Tippspiel</h1>
        <img src="{{ url_for('static', filename='Logo_Gans_und_Goessel.jpg') }}" alt="Formel 1 Bild" style="display: block; max-width: 50%; height: auto; margin: 20px auto;">

         <label for="citySelect">Rennen:</label>
        <select id="citySelect" class="driver-select"></select>

        <div class="table-wrapper">

            <h1>Qualifying</h1>
            <table id="qTippTabelle">
                <thead>
                    <tr>
                        <th></th>
                        <th>Alexander</th>
                        <th>Christine</th>
                        <th>Christoph</th>
                        <th>Jürgen</th>
                        <th>Simon</th>
                        <th>Ergebnis</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <h1>Rennen</h1>
            <table id="rTippTabelle">
                <thead>
                    <tr>
                        <th></th>
                        <th>Alexander</th>
                        <th>Christine</th>
                        <th>Christoph</th>
                        <th>Jürgen</th>
                        <th>Simon</th>
                        <th>Ergebnis</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <h1>Schnellste Runde</h1>
            <table id="fTippTabelle">
                <thead>
                    <tr>
                        <th></th>
                        <th>Alexander</th>
                        <th>Christine</th>
                        <th>Christoph</th>
                        <th>Jürgen</th>
                        <th>Simon</th>
                        <th>Ergebnis</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>


        <button id="downloadButton"> Download als Excel-Datei</button>
        <script type="module" src="static/mainscript.js"></script>

    </div>

</body>
</html>
