<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Driver Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
</head>
<body data-page-id="home">


    <div class="container">

       <!-- Top-Bar -->
        <div class="top-bar">
            <div class="tipprunde-container">
                Tipprunde:
                <select id="tipprunde-select" class="tipprunde-select" onchange="location.href=this.value;">
                    {% if tipprunden %}
                    {% for t in tipprunden %}
                    <option value="{{ url_for('home.change_tipprunde', tipprunde_id=t.id) }}"
                            data-id="{{ t.id }}"
                            {% if t.id== tipprunde_id %}selected{% endif %}>
                        {{ t.name }}
                    </option>
                    {% endfor %}
                    {% else %}
                    <option value="#">None</option>
                    {% endif %}
                </select>
            </div>

            <div class="login-status">
                {% if current_user.is_authenticated %}
                Eingeloggt als: {{ current_user.username }}
                <form action="{{ url_for('auth.logout') }}" method="get" style="display:inline;">
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
                {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
            </div>
        </div>

        <!-- Navigation -->
        <nav>
            <div class="nav-scroll">
                <ul>
                    <li><a href="/">Home</a></li>

                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropbtn">Tippabgabe</a>
                        <div class="dropdown-content">
                            <a href="/tippabgabe">Rennen</a>
                            <a href="/sprinttipps">Sprintrennen</a>
                        </div>
                    </li>

                    <li><a href="/gesamtergebnis">Tabelle</a></li>
                    <li><a href="/wmStand">WM Stand</a></li>
                    <li><a href="/regeln">Regeln</a></li>
                    <li><a href="/profile">Profil</a></li>

                    {% if current_user.is_authenticated and current_user.is_admin %}
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropbtn">Admin</a>
                        <div class="dropdown-content">
                            <a href="/admin/rennergebnisse">🏁 Rennergebnisse</a>
                            <a href="/admin/users">👤 User verwalten</a>
                            <a href="/admin/tipprunden">📋 Tipprunden</a>
                            <a href="/admin/settings">⚙️ Einstellungen</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <h1>Formel 1 Tippspiel</h1>
        <img src="{{ url_for('static', filename='Logo_Gans_und_Goessel.jpg') }}" alt="Formel 1 Bild" style="display: block; max-width: 50%; height: auto; margin: 20px auto;">

        <label for="citySelect">Rennen:</label>
        <select id="citySelect" class="driver-select"></select>

        <div class="table-wrapper">

            <!-- Qualifying -->
            <h1>Qualifying</h1>
            <table id="qTippTabelle">
                <thead>
                <tr>
                    <th></th>
                    {% for user in users %}
                    <th>{{ user.username }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <!-- Rennen -->
            <h1>Rennen</h1>
            <table id="rTippTabelle">
                <thead>
                <tr>
                    <th></th>
                    {% for user in users %}
                    <th>{{ user.username }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <!-- Schnellste Runde -->
            <h1>Schnellste Runde</h1>
            <table id="fTippTabelle">
                <thead>
                <tr>
                    <th></th>
                    {% for user in users %}
                    <th>{{ user.username }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <script type="module">
        import { initHomePage } from "{{ url_for('static', filename='pages/home.js') }}";
        initHomePage();
    </script>
</body>

</html>
