<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Driver Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
</head>
<body data-page-id="home">
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tippabgabe">Tippabgabe</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Ergebnisse</a>
                    <div class="dropdown-content">
                        <a href="/rennergebnis">Rennergebnis</a>
                        <a href="/gesamtergebnis">Gesamtergebnis</a>
                    </div>
                </li>
                <li><a href="/wmStand">WM Stand</a></li>
            </ul>
        </nav>

        <h1>Formel 1 Tippspiel</h1>

        <label for="citySelect">Rennen:</label>
        <select id="citySelect">
            <option value="Monza">Monza</option>
            <option value="Singapur">Singapur</option>
            <option value="Austin">Austin</option>
        </select>


        <table id="tippTabelle">
            <thead>
                <tr>
                    <th></th>
                    <th>Christine</th>
                    <th>Christoph</th>
                    <th>Jürgen</th>
                </tr>
            </thead>
        <tbody>

        </tbody>
        </table>

        <button id="downloadButton"> Download als Excel-Datei</button>
        <script type="module" src="static/mainscript.js"></script>
    </div>

</body>
</html>
