<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrieren - F1 Tippspiel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body data-page-id="register">

    <div class="container">
        <h1>Formel 1 Tippspiel</h1>
        <!-- Logo & Titel -->
        <img src="{{ url_for('static', filename='Logo_Gans_und_Goessel_neu.jpg') }}" alt="Formel 1 Bild" style="display: block; max-width: 80%; height: auto; margin: 20px auto;">

        <h1 class="login-title">Registrierung</h1>

        <!-- Registrierungs-Formular -->
        <form method="post" class="login-form">
            <div class="form-row">
                <label for="username">Benutzername</label>
                <input type="text" id="username" name="username" placeholder="Benutzername" required>
            </div>

            <div class="form-row">
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email" placeholder="E-Mail" required>
            </div>


            <div class="form-row">
                <label for="password">Passwort</label>
                <input type="password" id="password" name="password" placeholder="Passwort" required>
            </div>

            <div class="form-row">
                <label for="confirm_password">Passwort bestätigen</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Passwort bestätigen" required>
            </div>

            <!-- Registrieren Button -->
            <button type="submit" class="form-btn">Registrieren</button>

            <!-- Link zurück zum Login -->
            <a href="{{ url_for('auth.login') }}" class="form-btn">Zurück zum Login</a>
        </form>

        <!-- Flash-Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    </div>

</body>
</html>
