<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Driver Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='mainscript.js') }}"></script>

</head>

<body data-page-id="rennergebnis">
    <div class="container">
         <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown" id="tippDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="tippDropdownToggle">Tippabgabe</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="tippDropdownMenu">
                        <a href="/tippabgabe">Rennen</a>
                        <a href="/sprinttipps">Sprintrennen</a>
                    </div>
                </li>
                <li class="dropdown" id="ergDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="ergDropdownToggle">Ergebnisse</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="ergDropdownMenu">
                        <a href="/rennergebnis">Rennergebnis</a>
                        <a href="/gesamtergebnis">Gesamtergebnis</a>
                    </div>
                </li>

                <li><a href="/wmStand">WM Stand</a></li>
            </ul>
        </nav>

        <label for="citySelect">Rennen:</label>
        <select id="citySelect" class="driver-select"></select>

        <div class="table-wrapper">
            <table id="rennergebnisTabelle">
                <thead>
                    <tr>
                        <th></th>
                        <th>Quali-Punkte</th>
                        <th>Race-Punkte</th>
                        <th>Schnellste Runde</th>
                        <th>Gesamt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alexander</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Christine</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Christoph</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Jürgen</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Simon</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button id="calculateButton">Punkte neu berechnen</button>

        <label for="nameSelect">Name:</label>
        <select id="nameSelect" class="driver-select"></select>
    </div>



</body>
</html>