<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Driver Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='mainscript.js') }}"></script>

</head>

<body data-page-id="rennergebnis">
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tippabgabe">Tippabgabe</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Ergebnisse</a>
                    <div class="dropdown-content">
                        <a href="/rennergebnis">Rennergebnis</a>
                        <a href="/gesamtergebnis">Gesamtergebnis</a>
                    </div>
                </li>
            </ul>
        </nav>

    </div>

</body>
</html>