<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Driver Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='mainscript.js') }}"></script>

</head>
<body data-page-id="tippabgabe">
    <div class="container">
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown" id="tippDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="tippDropdownToggle">Tippabgabe</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="tippDropdownMenu">
                        <a href="/tippabgabe">Rennen</a>
                        <a href="/sprinttipps">Sprintrennen</a>
                    </div>
                </li>
                <li class="dropdown" id="ergDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="ergDropdownToggle">Tabelle</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="ergDropdownMenu">
                        <a href="/rennergebnis">Einzel-Rennen</a>
                        <a href="/gesamtergebnis">Gesamt</a>
                    </div>
                </li>

                <li><a href="/wmStand">WM Stand</a></li>
                <li><a href="/regeln">Regeln</a></li>
            </ul>
        </nav>

        <h1>Formel 1 Tippspiel</h1>

        <label for="name">Name:</label>
        <select id="name" class="driver-select"></select>


        <label for="city">Rennen:</label>
        <select id="city" class="driver-select"></select>

        <h1>Qualifikation</h1>

        <div class="form-group">
            <label for="qdriver1">1. Platz:</label>
            <select id="qdriver1" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="qdriver2">2. Platz:</label>
            <select id="qdriver2" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="qdriver3">3. Platz:</label>
            <select id="qdriver3" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="qdriver4">4. Platz:</label>
            <select id="qdriver4" class="driver-select"></select>
        </div>

        <h1>Rennen</h1>

        <div class="form-group">
            <label for="driver1">1. Platz:</label>
            <select id="driver1" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver2">2. Platz:</label>
            <select id="driver2" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver3">3. Platz:</label>
            <select id="driver3" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver4">4. Platz:</label>
            <select id="driver4" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver5">5. Platz:</label>
            <select id="driver5" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver6">6. Platz:</label>
            <select id="driver6" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver7">7. Platz:</label>
            <select id="driver7" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver8">8. Platz:</label>
            <select id="driver8" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver9">9. Platz:</label>
            <select id="driver9" class="driver-select"></select>
        </div>

        <div class="form-group">
            <label for="driver10">10. Platz:</label>
            <select id="driver10" class="driver-select"></select>
        </div>

        <h1>Schnellste Runde</h1>

        <div class="form-group">
            <label for="fdriver">Schnellste Runde:</label>
            <select id="fdriver" class="driver-select"></select>
        </div>

        <button id="save">Save Selection</button>
    </div>

</body>
</html>
