<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Driver Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='mainscript.js') }}"></script>

</head>

<body data-page-id="wmStand">
    <div class="container">
         <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown" id="tippDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="tippDropdownToggle">Tippabgabe</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="tippDropdownMenu">
                        <a href="/tippabgabe">Rennen</a>
                        <a href="/sprinttipps">Sprintrennen</a>
                    </div>
                </li>
                <li class="dropdown" id="ergDropdownLi">
                    <a href="javascript:void(0);" class="dropbtn" id="ergDropdownToggle">Ergebnisse</a>
                       <!-- Dropdown-Inhalte -->
                    <div class="dropdown-content" id="ergDropdownMenu">
                        <a href="/rennergebnis">Rennergebnis</a>
                        <a href="/gesamtergebnis">Gesamtergebnis</a>
                    </div>
                </li>

                <li><a href="/wmStand">WM Stand</a></li>
                <li><a href="/regeln">Regeln</a></li>
            </ul>
        </nav>


        <h1>WM Stand VOR folgendem Rennen</h1>

        <label for="city">Rennen:</label>
        <select id="city" class="driverselect"></select>

        <div class="form-group">
            <label for="wmdriver1">1. Platz:</label>
            <select id="wmdriver1" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver2">2. Platz:</label>
            <select id="wmdriver2" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver3">3. Platz:</label>
            <select id="wmdriver3" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver4">4. Platz:</label>
            <select id="wmdriver4" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver5">5. Platz:</label>
            <select id="wmdriver5" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver6">6. Platz:</label>
            <select id="wmdriver6" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver7">7. Platz:</label>
            <select id="wmdriver7" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver8">8. Platz:</label>
            <select id="wmdriver8" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver9">9. Platz:</label>
            <select id="wmdriver9" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver10">10. Platz:</label>
            <select id="wmdriver10" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver11">11. Platz:</label>
            <select id="wmdriver11" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver12">12. Platz:</label>
            <select id="wmdriver12" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver13">13. Platz:</label>
            <select id="wmdriver13" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver14">14. Platz:</label>
            <select id="wmdriver14" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver15">15. Platz:</label>
            <select id="wmdriver15" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver16">16. Platz:</label>
            <select id="wmdriver16" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver17">17. Platz:</label>
            <select id="wmdriver17" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver18">18. Platz:</label>
            <select id="wmdriver18" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver19">19. Platz:</label>
            <select id="wmdriver19" class="driverselect"></select>
        </div>

        <div class="form-group">
            <label for="wmdriver20">20. Platz:</label>
            <select id="wmdriver20" class="driverselect"></select>
        </div>

        <button id="wmStand">WM Stand speichern</button>


    </div>

</body>
</html>